body, html {
    height: 100%;
    margin: 0;
}



.bg {
  /* The image used */
  background-image: url("Background.jpg");

  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */

}



form {
    width:85%;
    padding: 30px;
    background: #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.7;
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 0px;
}


html {
    background: rgba(173, 173, 173, .1);
    font: 100% sans-serif;
    font-family: 'Quicksand';
}

h3{
    color: white;
    font-size: 45px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-bottom: 5px;

}



}
h4{
     font-size: 50px;
     color: white

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 35px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  display: block;
  margin : auto;


}

.button:hover {
  background-color: green;
}
.colonne1 {
    
    width:20%;
    float: left;
    margin-left : 25%;
    text-align: center;
    color: white;
     font-size: 18px;

}
.colonne2 {
     font-size: 18px;
    width:20%;
    float: right;
    margin-right: 25%;
    text-align: center;
    color: white;

}

 /*<button class="button"><a style="color:white; text-decoration:none" href="FAQ.html">Ajouter un capteur</a></button>*/