body, html {
    height: 100%;
    margin: 0;
}


.bg {
  /* The image used */
  background-image: url("Background.jpg");

  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */

}
h1{
    color: white;
    font-size: 45px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-bottom: 5px;

}

h4{
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-bottom: 5px;

}
@font-face {
    font-family: 'circular';
    src: url('polices/Circular.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_ultralight';
    src: url('polices/Aileron-Ultralight.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin';
    src: url('polices/Aileron-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'aileron_thin_italic';
    src: url('polices/Aileron-ThinItalic.otf') format('opentype');
}

.element {
    font-family: 'aileron_thin';
}

body {

    font: 100%
    background-image: url("Background.jpg");
    background-attachment: fixed; /* Le fond restera fixe */

}

form {
    width:85%;
    padding: 30px;
    background: #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.7;
    margin-right: 150px;
    margin-left: 80px;
    margin-top: 0px;
}

td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td

table{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{

    border-right: 1px solid
}
th{background-color: rgb(192,192,192)

}
tr:nth-child(odd) {background: #FFF }
tr:nth-child(even)  {background: #EEE}