body, html {
    height: 100%;
    margin: 0;
}

.bg {
  /* The image used */
  background-image: url("Background.jpg");

  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */

}



form {
    width:85%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    margin-right: 150px;
    margin-left: 80px;

}

html {
    background: rgba(173, 173, 173, .1);
    font: 100% sans-serif;
    font-family: 'Quicksand';
}
h2{
   
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
 
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
h3{
    color: green;
    text-decoration: underline; 
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-bottom: 25px;

}

.line{
width: 85%;
height: 10px;
border-bottom: 1px solid black;
position: absolute;



}
h4{
     font-style: italic;
     padding-bottom: 5px;
     padding-top: 5px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 35px;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  display: block;
  margin : auto;


}
.buttonModif {
  background-image: url("modifier.jpg");
  border: none;
  width: 60px;
  height: 50px;
  float: right;
  cursor: pointer;
  margin-left: 25%;
}
.buttonDelete {
  background-image: url("cross.png");
  border: none;
  width: 60px;
  height: 50px;
  background-color:white; 
  float: right;
  cursor: pointer;

}

.button:hover {
  background-color: green;
}

.buttonModif:hover {
  background-color: green;
}

