body, html {
    height: 100%;
    margin: 0;
}
@font-face {
	font-family: 'QuickSand';
	src: url('quicksand/Quicksand-regular.otf') format('opentype');
}

* {
	font-family: 'QuickSand';
}

.bg {
  /* The image used */
  background-image: url("Background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
}



form {
    width:85%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    margin-right: 150px;
    margin-left: 80px;
    margin-top: 10px;
}

html {
    background: rgba(173, 173, 173, .1);
    font: 100% sans-serif;
    font-family: 'Quicksand';
}
h2{
   
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
 
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
h3{
    color: green;
    text-decoration: underline; 
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    padding-bottom: 25px;

}

.line{
width: 85%;
height: 10px;
border-bottom: 1px solid black;
position: absolute;



}
h4{
     font-style: italic;
     padding-bottom: 5px;
     padding-top: 5px;
}
